@model UMSMVC5.Models.Teacher



<p>@Html.DisplayNameFor(model => model.CreditsToBeTaken)  : @Model.CreditsToBeTaken</p>

<p>@Html.DisplayNameFor(model => model.CreditsHaveTaken)  : @Model.CreditsHaveTaken</p>

<p>@Html.DisplayNameFor(model => model.CreditsRemaining)  : @Model.CreditsRemaining</p>